# App artifacts
/_build
/db
/deps
/*.ez
/.elixir_ls
*~
*.pyc

# Documentation
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads
docs/vendor/bundle

# Logging
*.log*

# Generated on crash by the VM
erl_crash.dump

# Testing
coverage

# Static artifacts
node_modules

# Dialyzer
/priv/plts/*.plt
/priv/plts/*.plt.hash

# Sobelow
.sobelow

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# OSX
*.DS_Store
Thumbs.db

# Ignore static build assets
priv/static

# Ignore Waffle uploads in dev
priv/waffle

# Misc
/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
