@import 'bourbon';
@import 'neat';
@import 'buttons';
@import 'colors';
@import 'flashes';
@import 'fonts';
@import 'table';

.table {
  background: $solid-white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: 1.5;

  &-header {
    background: $off-white;
    border: 1px solid $border-color;
    border-bottom: 0;
    color: $header-font;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-content {
    border: 1px solid $border-color;
  }

  &-row {
    box-shadow: inset 0 -1px 0 0 $off-white;
    color: $mine-black;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: #fafafa;
    }
  }

  &-cell {
    @include overflow-wrap;
    display: flex;
    flex-basis: 0;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-size: .8rem;
    padding: .5rem;
  }
}

.table .date {
  flex: 0 0 10em;
  justify-content: flex-end;
}

.table .sender {
  flex: 0 0 15em;
}

.table .form {
  flex: 0 0 15em;
  justify-content: center;
}

.messages .actions {
  float: right;
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style-type: none;
    margin: 0 .5rem 0 0;
  }

  li:last-child {
    margin: 0;
  }
}

.messages .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;

  .status {
    font-size: .8rem;
    font-weight: 600;
    line-height: 20px;
  }
}

.messages .search {
  line-height: 20px;
  padding: 6px 12px;
  margin: 0;
  max-width: 200px;
}

.messages .table-content a {
  display: block;
}

.messages .table-content .message {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.message.expanded {
  background-color: $border-color;
  margin: 0 -.5rem;
  padding: .5rem;
}

.admin-links {
  background-color: $mojo-red;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 1rem;
}

.admin-links li {
  font-size: .8rem;
  text-transform: uppercase;
}

.admin-links li:not(:first-child) {
  margin-left: 1.5rem;
}

.admin-links a {
  color: $sea-pink;
  text-decoration: none;

  &:hover {
    color: $off-white;
  }
}

.admin-links .active {
  border-bottom: 3px solid $carnation;
  color: $off-white;
}

.welcome .hero {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background-image: url(/images/hero.jpg);
  background-size: cover;
}

.welcome .hero-title {
  font-size: 2.4rem;
  margin-top: 2.3rem;
}

.welcome .hero-message {
  color: $mine-black;
  margin-top: .5rem;
}

.welcome .hero-action {
  margin-top: 1rem;
}

.welcome .action-bar {
  background-color: $mine-black;
  color: $ghost-gray;
  padding: 1rem;
  text-align: center;

  a {
    color: $carnation;
  }

  a:hover {
    color: $off-white;
  }
}

.welcome .features {
  background-color: $cinderella;
  padding: 1rem 0;
}

.welcome .features h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.welcome .features h3 {
  font-size: 1.3rem;
  margin: 0 0 1.25rem 0;
}

.welcome .features ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.welcome .features li:before {
  background-color: $carnation;
  content: "";
  float: left;
  height: 3px;
  margin: .45rem 1rem 0 0;
  width: 15px;
}

.welcome .features li {
  display: inline-block;
  flex: 0 0 auto;
  font-style: italic;
  list-style: none;
  padding: 0 0 1rem 0;
}

.welcome .example {
  background-color: #fff0ef;
  padding: 1rem 0;
}

.welcome .example h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.welcome .example h3 {
  font-size: 1.3rem;
}

.welcome .example h3.step-one {
  margin: 0 0 1.25rem 0;
}

.welcome .example h3.step-two {
  margin: 0;
}

.welcome .example code {
  background-color: $off-white;
  border-radius: .5rem;
  display: inline-block;
  font-size: .8rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.welcome .example .highlight {
  background-color: lighten($sea-pink, 10%);
  border-radius: .2rem;
  padding: 0 .25rem;
}

.welcome .example .tab {
  margin-left: 1rem;
}

.welcome .cards {
  background-color: $off-white;
  padding: 1rem 0;
}

.welcome .cards .fluid-container {
  display: flex;
  flex-direction: row;
}

.welcome .cards .item {
  flex: 1 1 auto;
  width: 200px;
}

.welcome .cards .item:not(:last-child) {
  margin-right: 1.5rem;
}

.welcome .cards .item h2 {
  font-size: 1.4rem;
  margin: 0;
}

.welcome .cards .item p {
  font-size: .9rem;
  line-height: 1.6rem;
  margin: 1rem 0;
  padding: 0;
  outline: 0;
}
