@import 'bourbon';
@import 'neat';
@import 'buttons';
@import 'colors';
@import 'flashes';
@import 'fonts';
@import 'switch';
@import 'table';
@import 'tooltip';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: $helvetica;
  font-size: 1rem;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.home {
  box-sizing: border-box;
  display: table;
  height: 100%;
  overflow-x: hidden;
  table-layout: fixed;
  width: 100%;
}

.navigation {
  background-color: $primary-color;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 250px;
}

.content-container {
  @include grid-container;
  display: block;
  min-height: 100%;
  padding-left: 250px;
}

.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
}

.logo {
  color: $logo-font;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 2.2rem;
  margin: 0 auto;
  max-width: 4em;
  padding: 1.5rem 0 1rem;
  text-align: center;
  text-decoration: none;
}

.logo:hover {
  animation: scale .2s ease-in, slide .4s ease;
  color: $solid-white;

  @keyframes anim {
    0%, 100% {
      left: 0;
      transform: scale(1);
    }

    50% {
      left: 100%;
      transform: scale(1.05);
    }
  }
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
  padding: 0;

  a {
    color: $nav-font;
    display: block;
    font-family: $system;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover,
  .active {
    color: $mine-black;
    transition: all .1s;
  }

  a:hover:not(.active) {
    background-color: darken($background-color, 10%);
    border-left: .5rem solid darken($nav-highlight, 10%);
  }

  .active {
    background-color: $background-color;
    border-left: .5rem solid $nav-highlight;
  }
}

.content h1, h2, h3 {
  color: $header-font;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  word-wrap: break-word;
}

.content h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 .5rem;
}

.content h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: .4rem 0;
}

.content h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: .4rem 0;
}

label {
  display: block;
  font-size: .8rem;
  padding-top: .1rem;
  text-transform: uppercase;
}

.input-container {
  font-size: .8rem;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
select {
  border: 1px solid #CCC;
  box-sizing: border-box;
  display: block;
  margin: .25rem 0 .25rem 0;
  padding: .4rem;
  width: 20rem;

  &:disabled {
    background: linear-gradient(to bottom, #bfbfbf, #bbb9b9);
    cursor: not-allowed;
  }
}

.input-error {
  font-style: italic;
}

.card-header {
  background: $off-white;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  color: $header-font;
  display: block;
  font-size: .8rem;
  font-weight: 700;
  margin: 0;
  padding: .5rem;
  text-transform: uppercase;
}

.form .verified {
  color: #3eb529;
  float: right;
  text-transform: none;
}

.form .edit {
  float: right;
}

.form .form {
  font-size: .9em;
  line-height: 1.5rem;
}

.form .integration {
  background-color: #fafafa;
  border: 2px solid $border-color;
  font-size: .8rem;
  line-height: 1rem;
  text-transform: uppercase;

}

.form .new-integration {
  box-shadow: 0 0 .2em 0 $chatham-blue;
}

.form .integration .type {
  background-color: $background-color;
  color: $header-font;
  font-family: $system;
  font-size: .9rem;
  padding: .5rem;
}

.form .integration .status {
  float: right;
  margin: .25rem .25rem 0 0;
}

.form .integration:not(:last-child) {
  margin-bottom: .5rem;
}

.form .integration .settings {
  padding: .5rem;
}

.form .message-count {
  color: $header-font;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  padding-top: .5rem;
}

.form .address {
  background-color: #4e4d5a;
  border: 1px solid #333;
  box-shadow: inset 0 0 10px #403c3c;
  color: #e2eaea;
  font-family: Courier New, Courier, monospace;
  font-size: .85rem;
  font-weight: 300;
  padding: 1rem;
  text-align: center;
  user-select: none;
  word-break: break-all;

  &:hover {
    cursor: hand;
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0.2rem $primary-color;
  }
}

.card {
  background: $solid-white;
  border-bottom: 1px solid $border-color;
  border-bottom-width: 2px;
  border-left: 1px solid $border-color;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  padding: .5rem;
  margin-bottom: .5rem;
}

.login {
  margin: 0 auto;
  max-width: 320px;
  padding: 1rem;

  .register {
    float: right;
  }
}

.table {
  background: $solid-white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: 1.5;

  &-header {
    background: $off-white;
    border: 1px solid $border-color;
    border-bottom: 0;
    color: $header-font;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-content {
    border: 1px solid $border-color;
  }

  &-row {
    box-shadow: inset 0 -1px 0 0 $off-white;
    color: $mine-black;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: #fafafa;
    }
  }

  &-cell {
    @include overflow-wrap;
    display: flex;
    flex-basis: 0;
    flex-flow: row nowrap;
    flex-grow: 1;
    font-size: .8rem;
    padding: .5rem;
  }
}

.table .date {
  flex: 0 0 10em;
  justify-content: flex-end;
}

.table .sender {
  flex: 0 0 15em;
}

.table .form {
  flex: 0 0 15em;
  justify-content: center;
}

.messages .actions {
  float: right;
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style-type: none;
    margin: 0 .5rem 0 0;
  }

  li:last-child {
    margin: 0;
  }
}

.messages .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;

  .status {
    font-size: .8rem;
    font-weight: 600;
    line-height: 20px;
  }
}

.messages .search {
  line-height: 20px;
  padding: 6px 12px;
  margin: 0;
  max-width: 200px;
}

.messages .table-content a {
  display: block;
}

.messages .table-content .message {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.message.expanded {
  background-color: $border-color;
  margin: 0 -.5rem;
  padding: .5rem;
}

.forms .add-form {
  float: right;
}

.forms .actions {
  padding-top: .5rem;
}

.admin-links {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0 1rem 1rem 1rem;
    padding: 0;
}

.admin-links li {
  font-size: .8rem;
  text-transform: uppercase;
}

.admin-links li:not(:first-child) {
  margin-left: 1.5rem;
}

.admin-links .active {
  font-weight: 900;
}
