@import 'bourbon';
@import 'neat';
@import 'buttons';
@import 'colors';
@import 'fonts';
@import 'switch';
@import 'table';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: $helvetica;
  font-size: 1rem;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.home {
  @include outer-container;
  box-sizing: border-box;
  display: table;
  height: 100%;
  overflow-x: hidden;
  table-layout: fixed;
  width: 100%;
}

.navigation {
  @include span-columns(3 of 15, table);
  background-color: $primary-color;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

.content {
  @include span-columns(12 of 15, table);
  height: 100%;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  position: absolute;
  right: 0;
}

.logo {
  color: $logo-font;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 2.2rem;
  margin: 0 auto;
  max-width: 4em;
  padding: 1.5rem 0 1rem;
  text-align: center;
  text-decoration: none;
}

.logo:hover {
  @include animation(scale .2s ease-in, slide .4s ease);
  color: $solid-white;

  @include keyframes(scale) {
    0%, 100% {
      @include transform(scale(1));
    }

    50% {
      @include transform(scale(1.05));
    }
  }

  @include keyframes(slide) {
    0%, 100% {
      left: 0;
    }

    50% {
      left: 100%;
    }
  }
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
  padding: 0;

  a {
    color: $nav-font;
    display: block;
    font-family: $system;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover,
  .active {
    @include transition(all .1s);
    color: $mine-black;
  }

  a:hover:not(.active) {
    background-color: darken($background-color, 10%);
    border-left: .5rem solid darken($nav-highlight, 10%);
  }

  .active {
    background-color: $background-color;
    border-left: .5rem solid $nav-highlight;
  }
}

.content h1, h2, h3 {
  color: $header-font;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  word-wrap: break-word;
}

.content h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 .5rem;
}

.content h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: .4rem 0;
}

.content h3 {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: .4rem 0;

}

label {
  display: block;
  padding-top: .1rem;
}

input[type="text"] {
  border: .1rem solid #CCC;
  border-radius: 0.3rem;
  display: block;
  margin: .25rem 0;
  padding: 0.2rem;
  width: 20rem;
}

.forms-list h2 {
  background: $off-white;
  border: 1px solid $border-color;
  color: $header-font;
  display: block;
  font-size: .8rem;
  font-weight: 700;
  margin: 0;
  padding: .5rem;
  text-transform: uppercase;
}

.forms-list .form {
  font-size: .9em;
  line-height: 1.5rem;
}

.forms-list .integration {
  background-color: #fafafa;
  border: 1px solid $border-color;
  font-size: .8rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.forms-list .integration .type {
  background-color: $background-color;
  color: $header-font;
  font-family: $system;
  font-size: .9rem;
  padding: .5rem;
}

.forms-list .integration .status {
  float: right;
  margin: .25rem .25rem 0 0;
}

.forms-list .integration:not(:last-child) {
  margin-bottom: .5rem;
}

.forms-list .integration .settings {
  padding: .5rem;
}

.card {
  background: $solid-white;
  border-bottom: 1px solid $border-color;
  border-bottom-width: 2px;
  border-left: 1px solid $border-color;
  border-radius: 0 0 3px 3px;
  border-right: 1px solid $border-color;
  padding: .5rem;
  margin-bottom: .5rem;
}

.table {
  @include display(flex);
  @include flex-flow(column nowrap);
  @include justify-content(space-between);
  background: $solid-white;
  line-height: 1.5;

  &-header {
    background: $off-white;
    border: 1px solid $border-color;
    color: $header-font;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-content {
    border: 1px solid $border-color;
    border-top: 0;
  }

  &-row {
    @include display(flex);
    @include flex-flow(row nowrap);
    box-shadow: inset 0 -1px 0 0 $off-white;
    color: $mine-black;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: #fafafa;
    }
  }

  &-cell {
    @include display(flex);
    @include flex-flow(row nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include word-wrap;
    font-size: .8rem;
    padding: .5rem;
  }
}

.table .date {
  @include justify-content(flex-end);
  @include flex(0 0 10em);
}

.table .sender {
  @include flex(0 0 15em);
}

.table .form {
  @include flex(0 0 15em);
  @include justify-content(center);
}

.messages .filter {
  float: right;
}

.forms .add-form {
  float: right;
}

.btn {
  background-color: #eee;
  background-image: -webkit-linear-gradient($porcelain-gray, $off-white);
  background-image: linear-gradient($porcelain-gray, $off-white);
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $mine-black;
  display: inline-block;
  cursor: pointer;
  font-size: .65rem;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background-color: $alto-gray;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
  }
}
