@import 'colors';

.btn {
  background: linear-gradient(to bottom, $porcelain-gray, $off-white);
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $mine-black;
  display: inline-block;
  cursor: pointer;
  font-size: .65rem;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background: linear-gradient(to bottom,#eee 100%, #ddd 100%);
    border-color: #ccc;
  }
}

.btn.disabled {
  background: shade($porcelain-gray, 3%);
  pointer-events: none;
}

.btn.delete {
  background: linear-gradient(to bottom,#dd4b39 50%, #b53727 100%);
  border-color: #d73925;
  color: #f5f7ff;
  float: right;

  &:hover {
    background: linear-gradient(to bottom,#b53727 100%, #b53727 100%);
    border-color: #333;
  }
}

.btn.add-integration {
  float: right;
}
