$chatham-blue: #16476d;
$alto-gray: #ddd;
$ghost-gray: #c3c6ce;
$light-blue: #477dca;
$porcelain-gray: #f1f2f3;
$solid-white: #fff;
$off-white: #fbfbfb;
$mine-black: #2d2929;

$background-color: $porcelain-gray;
$border-color: #e1e2e3;
$primary-color: $chatham-blue;
$logo-font: #e4e6ec;
$nav-highlight: $light-blue;
$title-color: $ghost-gray;
$tile-color: $solid-white;
$header-font: $mine-black;
$nav-font: $ghost-gray;
