<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <%= render_existing @view_module, "_styles.html", assigns %>
  </head>

  <body leftmargin="0" marginwidth="0" marginheight="0" offset="0" topmargin="0">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailHeader">
                  <tr>
                    <td align="center" valign="top">
                      <a class="fd-logo" href="https://www.formdelegate.com/" target="_blank" rel="noopener">Form Delegate</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <%= @inner_content %>
            <tr>
              <td valign="top" cellpadding="10 0">
                <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter">
                  <tr>
                    <td valign="top">
                      As always, if you have any questions, email us at <a href="mailto:hello@formdelegate.com" target="_blank" rel="noopener">hello@formdelegate.com</a>.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
