You've received a new form submission!

<%= if @submission.sender do %>
  Sender: <%= @submission.sender %>
<% end %>

<%= if @submission.body do %>
  Body: <%= @submission.body %>
<% end %>

<%= for {key, value} <- @submission.fields do %>
  <%= key %>: <%= value %>
<% end %>

--

FormDelegate.com
