You received a new form submission for <%= @form.name %>

<%= if @submission.sender do %>
  Sender: <%= @submission.sender %>
<% end %>

<%= if @submission.body do %>
  Body: <%= @submission.body %>
<% end %>

<%= for {key, value} <- @submission.fields do %>
  <%= key %>: <%= value %>
<% end %>

Visit <%= @submission_frontend_url %> for additional information.
