You received a new form submission for <%= @form.name %>

<%= if @submission.sender do %>
  Sender: <%= format_submission_value(@submission.sender) %>
<% end %>

<%= if @submission.body do %>
  Body: <%= format_submission_value(@submission.body) %>
<% end %>

<%= for {key, value} <- @submission.fields do %>
  <%= key %>: <%= format_submission_value(value) %>
<% end %>

Visit <%= @submission_frontend_url %> for additional information.
