Hello <%= @user.name %>,

We received a request to reset the password associated with this e-mail address. Please visit the following link to complete your request:

<%= @reset_password_frontend_url %>

If you didn't make this password reset request, then ignore this email. No changes will be made to your account.
