Hello <%= @user.name %>,

We received a request to reset the password associated with this e-mail address.

<%# @TODO: Add frontend route for reset password form %>

If you didn't make this password reset request, then ignore this email. No changes will be made to your account.

--

FormDelegate.com
