<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Password Reset Request - Form Delegate</title>
  </head>

  <body leftmargin="0" marginwidth="0" marginheight="0" offset="0" topmargin="0">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                  <tr>
                    <td align="center" valign="top">
                      Form Delegate
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                  <tr>
                    <td align="center" valign="top">
                      Hello <%= @user.name %>,
                    </td>
                  </tr>
                  <tr>
                    <td align="left">
                      We received a request to reset the password associated with this e-mail address.
                    </td>
                  </tr>

                  <tr>
                    <td align="left">
                      <%# @TODO: Add frontend route for reset password form %>
                    </td>
                  </tr>

                  <tr>
                    <td align="left">
                      If you didn't make this password reset request, then ignore this email. No changes will be made to your account.
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="center" valign="top">
                      FormDelegate.com
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
