Hi <%= @user.name %>!

Thank you for signing up to Form Delegate. Please verify your account by visiting the below link:

<%= Routes.user_confirmation_url(FormDelegateWeb.Endpoint, :confirm, token: @user.confirmation_token) %>
